*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  width:100%;
  height:100%;
  background-color:hsl(226, 43%, 10%);
  font-family: 'Rubik', sans-serif;
}
.dashboard{
  width:100%;
  height:100%;
  display:flex;
}
.container{
  margin-top:80px;
  margin-left:20px;
  width:240px;
  height:500px;
  background-color:hsl(235, 46%, 20%);
  border-radius:15px;
}
.profile-box{
  width:240px;
  height:330px;
  background-color:hsl(228, 45%, 44%);
  border-radius:15px;
}
.profile-img{
  margin-top:40px;
  margin-left:30px;
  width:60px;
  height:60px;
  border:2px solid white;
  border-radius:50%;
  background-color:white;
}
.profile-info p{
  margin-top:20px;
  margin-bottom:5px;
  margin-left:30px;
  font-size:12px;
  color:hsl(236, 100%, 87%);
}
.profile-info h3{
  margin-left:30px;
  margin-top:10px;
  font-size:28px;
  color:white;
  font-weight:300;
}
.profile-info-desc{
  margin-top:140px;
  margin-left:30px;
}
.desc{
  padding:5px;
  color:hsl(235, 45%, 61%);
}
.desc:hover{
  color: hsl(236, 100%, 87%);
}

#grid-col {
  margin-top:10%;
  margin-left:20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: 150px 40%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 180px);
 
}
 
div.cell {
  background: LightBlue;
  border: 1px solid Blue;
  padding: 10px;
  border-radius:20px;
}

@media screen and (max-width: 640px) {
  .container{
    margin-top:50px;
    height:550px;
  }
  
  #grid-col {
    width:50%;
    height:90%;
    grid-template-columns: 100%;
  }
}

.attribution { 
  margin-top:50px;
  font-size: 11px;
  text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }
